@font-face {
  font-family: "Gravitas";
  src: local("regular"),
    url("./Fonts/GravitasOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: local("regular"),
    url("./Fonts/Rubik-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik-Light";
  src: local("light"),
    url("./Fonts/Rubik-Light.ttf") format("truetype");
}


@font-face {
  font-family: "Rubik-Regular";
  src: local("regular"),
    url("./Fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik-SemiBold";
  src: local("regular"),
    url("./Fonts/Rubik-SemiBold.ttf") format("truetype");
}


* {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;

}

/* *::-webkit-scrollbar {
  display: none;
} */

body {
  margin: 0;
  height: 100vh;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  text-decoration: none;
  color: rgb(152, 208, 226);
}


.app {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Page {
  min-height: 100vh;
  height: auto;
}

.One {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(58, 63, 68);
}

.Two {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(15, 17, 17);

}

.Three {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(54, 84, 84);

}

.Four {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(37, 42, 42);
  position: relative;

}

.Five {
  background-color: black;
  /* background-image: linear-gradient(to right top,rgba(0,0,0,1) 11%, rgba(4,3,61,1) 25%, rgba(48,5,85,1) 39%, rgba(82,23,120,1) 51%, rgba(98,9,121,1) 64%, rgba(151,7,134,1) 75%, rgba(191,4,100,1) 87%, rgba(255,0,0,1) 100%); */
}

.left {
  border-right: 1px solid gray;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 2vw;
  z-index: 1;
}

.right {

  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 2vw;
  z-index: 88;
}

.left-stuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.right-stuff {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


#name {
  font-size: 6vw;
  color: white;
}

#page-one-icons {
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
  width: 3vw;
  height: auto;
}

#left-title {
  font-size: 4vw;
  color: white;
}

#title {
  font-family: Rubik-SemiBold;
  color: white;
}

#years {
  font-family: Rubik-SemiBold;
  padding-left: 1vw;
  position: absolute;
  right: -1vw;
  font-size: 0.7vw;
  color: white;
}

.right-stuff-items {
  position: relative;
  width: 150%;
  font-size: 1vw;
  padding-bottom: 1vw;
  color: white;
}

.right-stuff-items div:nth-child(3) {
  font-size: 0.8vw;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
}

.right-stuff-items div:nth-child(4) {
  font-family: Rubik-Light;
  font-size: 0.7vw;
}














.Navigation {
  position: fixed;
  top: 40%;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 40px;
  margin-right: 2vw;
  background-color: rgba(255, 255, 255, 0.049);
  border-radius: 45px;
  z-index: 99;
  transition-duration: 0.35s;
  -webkit-transition-duration: 0.35s;
}

#nav-icons {
  padding-top: 6px;
  padding-bottom: 6px;
  height: 30px;
  width: 40px;
  filter: invert(40%) sepia(400%) saturate(2%) hue-rotate(238deg) brightness(100%) contrast(80%);
  cursor: pointer;
  transition-duration: 0.35s;
  -webkit-transition-duration: 0.35s;
}

.Navigation:hover {
  background-color: rgba(255, 255, 255, 0.111);
}


#nav-icons:hover {
  filter: invert(80%) sepia(0%) saturate(2%) hue-rotate(238deg) brightness(100%) contrast(100%);
}

#nav-icons:active {
  filter: invert(40%) sepia(0%) saturate(2%) hue-rotate(238deg) brightness(100%) contrast(100%);
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
}

.angel-list {
  transition-duration: 0.35s;
  -webkit-transition-duration: 0.35s;
}

.angel-list:hover {
  filter: invert(80%) sepia(0%) saturate(2%) hue-rotate(238deg) brightness(100%) contrast(100%);
  -webkit-animation: rotation 0.2s 2 linear;
  animation: rotation 0.2s 2 linear;
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(20deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
  }

  75% {
    -webkit-transform: rotate(-20deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}


.git-hub {
  transition-duration: 0.35s;
  -webkit-transition-duration: 0.35s;
}

.git-hub:hover {
  filter: invert(80%) sepia(0%) saturate(2%) hue-rotate(238deg) brightness(100%) contrast(100%);
  transition: all 1.5s ease;
}

.linked-in {
  transition-duration: 0.35s;
  -webkit-transition-duration: 0.35s;
}

.linked-in:hover {
  filter: invert(80%) sepia(0%) saturate(2%) hue-rotate(238deg) brightness(100%) contrast(100%);
  transition: all 1.5s ease;
}



.thermos {
  filter: invert(80%) sepia(0%) saturate(2%) hue-rotate(238deg) brightness(100%) contrast(100%);
  width: 5vw;
  height: 5vw;
  position: absolute;
  left: 100px;
  rotate: 45deg;

}


.cocktail {
  width: 5vw;
  height: 5vw;
  color: gray;
}

.cocktail:hover {
  animation: makeItfadeIn 3s 1s forwards;
}

@keyframes makeItfadeIn {

  0% {
    background-color: bottom;
  }

  100% {
    background-position: top;
  }
}





iframe {
  position: absolute;
  height: 100vh;
  width: 50vw;
  background-color: white;
  border: none;
}

.preview-container {
  z-index: 50;
  position: absolute;
  /* right: 0; */
  height: 100%;
  width: 0;
  left: -100%;
  top: 0;
  visibility: hidden;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}


.show {
  width: 50vw;
  visibility: visible;
  -webkit-transform: translate(200%, 0);
  -moz-transform: translate(200%, 0);
  -o-transform: translate(200%, 0);
  -ms-transform: translate(200%, 0);
  transform: translate(200%, 0)
}

hr {
  color: #adbac7;
  opacity: 0.08;
  margin-top: 20px;
}

button {
  background-color: #3c4249;
  border: 1px solid #444c56;
  color: #adbac7;
  font-weight: bold;
  border-radius: 20px;
}

button:hover {
  transition-duration: 0.3s;
  background-color: #545d68;
  border: 1px solid rgba(180, 193, 206, 0.699);
}

h3 {
  font-size: 23px;
  display: flex;
  justify-content: center;
  color: #cdd9e5;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden
}
